html,
body {
  height: 100%;
}

body {
  background-color: $bg;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  color: $text;
  font-family: Montserrat;
}

.container {
  max-width: 1313px;
  padding: 0 20px;
  margin: 0 auto;
}


.link {
  font-size: 12px;
  font-weight: bold;
  color: $text;

  &--mode {
    padding: 16px 37px;
    border-radius: 40px;
    color: $bg;
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
    ;
  }

  &__contact {
    padding: 17px 36px;
    color: $text;
    border: 2px solid $text;
    border-radius: 40px;
  }
}

