.header {
  padding-bottom: 124px;
}

.menu {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 135px;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 41px;
    }
  }

}

.connection {
  align-items: center;
  display: flex;
  justify-content: space-between;

  &__link {
    &:not(:last-child) {
      margin-right: 38px;
    }

  }

}

.logo {
  margin-right: 205px;
}