.hero {
  &__top {
    padding-bottom: 103px;
    display: flex;
    justify-content: space-between;
  }

  &__content {
    max-width: 470px;
    width: 100%;
  }
}

.hero-title {
  font-size: 40px;
  font-weight: bold;
  line-height: 1;
  padding-bottom: 36px;

  &__inner {
    padding-bottom: 10px;
  }

  &__mode {
    font-size: 46px;
    color: transparent;
    background: linear-gradient(156deg, #C0B7E8 0%, #8176AF 100%);
    background-clip: text;
    &:not(:last-child) {
      margin-bottom: 4px;
    }
  }
}