<section class="header">
  <div class="container">
    <nav class="menu">
      <a class="logo" href="#">
        <img class="logo__img" src="images/logo.svg" alt="logo">
      </a>
      <ul class="menu__list">
        <li class="menu__item">
          <a class="munu__link link" href="#">
            ABOUT
          </a>
        </li>
        <li class="menu__item">
          <a class="munu__link link" href="#">
            SERVICES
          </a>
        </li>
        <li class="menu__item">
          <a class="munu__link link" href="#">
            TECHNOLOGIES
          </a>
        </li>
        <li class="menu__item">
          <a class="munu__link link" href="#">
            HOW TO
          </a>
        </li>
      </ul>
      <div class="connection">
        <a class="connection__link link link__contact" href="#">
          CONTACT US
        </a>
        <a class="connection__link link link--mode" href="#">
          JOIN HYDRA
        </a>
      </div>
    </nav>
  </div>
</section>

