<section class="hero">
  <div class="container">
    <div class="hero__top">
      <div class="hero__content">
        <h1 class="hero-title">
          <div class="hero-title__inner">
            <span class="hero-title__mode">Dive</span> Into The Depths
          </div>
        Of <span class="hero-title__mode">Virtual Reality</span> 
        </h1>
        <p class="hero__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore
          nisl tincidunt eget. Lectus mauris eros in vitae .
        </p>
        <a class="hero__link link--mode" href="#">
          BUILD YOUR WORLD
        </a>
      </div>
      <img class="hero__img" src="images/content/vr-1.jpg" alt="vr glasses">
    </div>
    <div class="hero__bottom">
      <ul class="hero__list">
        <li class="hero__item">
          <h3 class="hero__title">
            Pay Us a Visit
          </h3>
          <span class="hero__location">
            Union St, Seattle, WA 98101, United States
          </span>
        </li>
        <li class="hero__item">
          <h3 class="hero__title">
            Give Us a Call
          </h3>
          <a class="hero__phone" href="tel:+11011111010">
            (110) 1111-1010
          </a>
        </li>
        <li class="hero__item">
          <h3 class="hero__title">
            Send Us a Message
          </h3>
          <a class="hero__massage" href="mailto:Contact@HydraVTech.com">
            Contact@HydraVTech.com
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>